<div class="row">
  <div class="col-md-3 col-md-offset-4">
    <h4>Your accounts:</h4>
      <%-if @accounts.each do |a| %>
        <h4><%= link_to a.name, account_websites_path(a) %></h4>
      <% end.empty? %>
        <h5>Click below to add your first account.</h5>
      <% end %>
    <hr>
    <%= link_to 'Add new account', new_user_account_path(current_user), class: 'btn btn-default' %>
  </div>
</div>
