<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Add new account</h1>
    <%= simple_form_for(@account, url: user_accounts_path, method: :post)  do |a| %>
      <%= a.input :name %>
      <%= a.button :submit %>
    <% end %>
  </div>
</div>
